In [1]:
import sqldb

In [2]:
cnx = sqldb.connect_sqldb('test')
cur = cnx.cursor()
type(cur)

mysql.connector.cursor.MySQLCursor

In [ ]:
cur.execute("SHOW TABLES;")
cur.fetchall()

In [ ]:
cur.execute("DROP TABLE Results;")

In [ ]:
cur.execute("DROP TABLE TempObservation;")
cur.execute("DROP TABLE Observation;")
cur.execute("DROP TABLE Results;")
cur.execute("DROP TABLE Test;")
cur.execute("DROP TABLE Setting;")

In [3]:
cur.execute(("SELECT AVG(Temperature) FROM TempObservation AS Temp INNER JOIN Observation "
                "AS Obs ON Temp.ObservationID=Obs.ObservationID INNER JOIN Test ON "
                "Obs.TestID=Test.TestID WHERE Test.TestID={0} GROUP BY Obs.ObservationID").format(1))
cur.fetchall()

[(Decimal('299.683000'),),
 (Decimal('299.688000'),),
 (Decimal('299.692000'),),
 (Decimal('299.692000'),),
 (Decimal('299.696000'),),
 (Decimal('299.700000'),),
 (Decimal('299.700000'),),
 (Decimal('299.696000'),),
 (Decimal('299.705000'),),
 (Decimal('299.705000'),),
 (Decimal('299.701000'),)]

In [4]:
cur.execute("(SELECT"
                 " ROUND((Mass-(SELECT MIN(Mass) FROM Observation WHERE"
                 " TestID={0}))/(SELECT MAX(Mass)-MIN(Mass) FROM Observation"
                 " WHERE TestID={0}), 7) FROM Observation WHERE TestID={0})".format(1))
cur.fetchall()

[(Decimal('1.0000000'),),
 (Decimal('1.0000000'),),
 (Decimal('1.0000000'),),
 (Decimal('1.0000000'),),
 (Decimal('0.5000000'),),
 (Decimal('0.5000000'),),
 (Decimal('0.5000000'),),
 (Decimal('0.5000000'),),
 (Decimal('0E-7'),),
 (Decimal('0E-7'),),
 (Decimal('0E-7'),)]

In [7]:
cur.execute("SELECT TestID FROM Observation WHERE TestID={}".format(1))
cur.fetchall()

[(1,), (1,), (1,), (1,), (1,), (1,), (1,), (1,), (1,), (1,), (1,)]

In [20]:
cur.execute("SELECT"
             " ROUND((Mass-(SELECT MIN(Mass) FROM Observation WHERE"
             " TestID=1))/(SELECT MAX(Mass)-MIN(Mass) FROM Observation"
             " WHERE TestID=1), 7), (TestID) FROM Observation WHERE TestID=1"
             ";")
cur.fetchall()

[(Decimal('1.0000000'), 1),
 (Decimal('1.0000000'), 1),
 (Decimal('1.0000000'), 1),
 (Decimal('1.0000000'), 1),
 (Decimal('0.5000000'), 1),
 (Decimal('0.5000000'), 1),
 (Decimal('0.5000000'), 1),
 (Decimal('0.5000000'), 1),
 (Decimal('0E-7'), 1),
 (Decimal('0E-7'), 1),
 (Decimal('0E-7'), 1)]

In [30]:
cur.execute(("INSERT INTO Results ("
             "NormalizedMass, " 
             "TestID)"
             "SELECT ROUND((Mass-(SELECT MIN(Mass) FROM Observation WHERE "
             "TestID={0}))/(SELECT MAX(Mass)-MIN(Mass) FROM Observation "
             "WHERE TestID={0}), 7), "
             "'{0}'"
             "FROM Observation WHERE TestID={0}"
             ";").format(1))

In [32]:
cur.execute("SELECT * FROM Results")
cur.fetchall()

[(1, Decimal('1.0000000'), 1),
 (2, Decimal('1.0000000'), 1),
 (3, Decimal('1.0000000'), 1),
 (4, Decimal('1.0000000'), 1),
 (5, Decimal('0.5000000'), 1),
 (6, Decimal('0.5000000'), 1),
 (7, Decimal('0.5000000'), 1),
 (8, Decimal('0.5000000'), 1),
 (9, Decimal('0E-7'), 1),
 (10, Decimal('0E-7'), 1),
 (11, Decimal('0E-7'), 1),
 (16, Decimal('1.0000000'), 1),
 (17, Decimal('1.0000000'), 1),
 (18, Decimal('1.0000000'), 1),
 (19, Decimal('1.0000000'), 1),
 (20, Decimal('0.5000000'), 1),
 (21, Decimal('0.5000000'), 1),
 (22, Decimal('0.5000000'), 1),
 (23, Decimal('0.5000000'), 1),
 (24, Decimal('0E-7'), 1),
 (25, Decimal('0E-7'), 1),
 (26, Decimal('0E-7'), 1),
 (31, Decimal('1.0000000'), 1),
 (32, Decimal('1.0000000'), 1),
 (33, Decimal('1.0000000'), 1),
 (34, Decimal('1.0000000'), 1),
 (35, Decimal('0.5000000'), 1),
 (36, Decimal('0.5000000'), 1),
 (37, Decimal('0.5000000'), 1),
 (38, Decimal('0.5000000'), 1),
 (39, Decimal('0E-7'), 1),
 (40, Decimal('0E-7'), 1),
 (41, Decimal('0E-7'), 1)]

In [31]:
cur.fetchall()

InterfaceError: No result set to fetch from.